.style__switcher {
    position: fixed;
    left: 0;
    top: 10%;
    background-color: var(--container-color);
    border: 1px solid var(--border-color);
    width: 220px;
    padding: 15px;
    box-shadow: 0 8px 24px hsla(20, 10%, 15%, 0.1);
    z-index: 10;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.show-switcher {
    transform: translateX(0);
}

.style__switcher,
.style__switcher-toggler,
.theme-toggler {
    border-radius: 0 2px 2px 0;
}

.style__switcher-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 8px;
    row-gap: 10px
}

.style__switcher-title,
.style__switcher-toggler,
.theme-toggler,
.style__switcher-close {
    color: var(--text-color);
}

.style__switcher-title {
    font-size: var(--small-font-size);
    font-weight: var(--weight-600);
    font-family: var(--second-font);
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.theme__img  {
    width: 30px;
    border-radius: 2px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.theme__img:hover {
    transform: scale(1.1);
}

.style__switcher-toggler,
.theme-toggler {
    position: absolute;
    left: 100%;
    background-color: var(--container-color);
    color: var(--title-color);
    height: 50px;
    width: 50px;
    font-size: var(--large-font-size);
    cursor: pointer;
    display: grid;
    place-items: center;
    box-shadow: 0 0 2px hsla(20, 10%, 15%, 0.15);
    transition: all 0.3s ease;
}

.show-switcher .style__switcher-toggler,
.show-switcher .theme-toggler {
    left: -100%;
}
.style__switcher-toggler {
    top: 10%;
}

.theme-toggler {
    bottom: 100%
}

.style__switcher-close {
    cursor: pointer;
    font-size: var(--h2-font-size);
    position: absolute;
    top: 2%;
    right: 15px;
}
